* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    text-align:center;
}
/* Keep it simple - improvement would be to not display characters */
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
.currentWord {
    list-style: none;
}
.output {
    opacity: 0;
}


