body {
    font-family: sans-serif;
    text-align:center;
    background-image: url("../images/sky.jpg");
    background-color:grey;
    width:100%;
}
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
.currentWord {
    list-style: none;
}
.output {
    opacity: 0;
}
#container {
    background-color:white;
    padding: 50px;
}
#outputContainer {
    background-color:white;
    padding-bottom: 50px;
}